doctype html
html lang="es"
  head
    /[if IE]
      /! Get a real browser!
    /! Do NOT read this file, the source is available
    meta charset="utf-8"

    /  Meta
    title = current_page.data.title || "IIC2333 Sistemas Operativos y Redes"

    meta name="description" content="IIC2333 Sistemas Operativos y Redes, 2018-2"
    meta name="author" content="Dietrich Daroch"

    / Mobile setup
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"

    / Bootstrap
    link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css"
    link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css"

    /  Code syntax highlighting
    /link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/zenburn.min.css"
    /script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/zenburn.min.css">
    /<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="../js/highlight.pack.js"></script>

    / KaTeX
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css"
    script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/contrib/auto-render.min.js"

    / countdown
    script src="js/countdown.min.js"


    javascript:
      hljs.initHighlightingOnLoad();

    /  Fonts (pre-cache)
    / link rel="stylesheet" type="text/css"  href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/lib/font/source-sans-pro/source-sans-pro.css"
    / link rel="stylesheet" type="text/woff" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/lib/font/source-sans-pro/source-sans-pro-semibold.woff"

    /  D3
    //script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.11/d3.min.js'

    /  CanvasJS
    /  script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js'

    style type="text/css"
      |
        pre code.hljs {
          display: block;
        }
        code.hljs {
          display: inline;
        }
        
        // Hover stuff
        code:hover>div {
          display: block;
        }
        code>div {
          display: none;
        }
        table {
          margin: auto;
          //border-collapse: separate;
          //border-spacing: 0 0.1em;
        }
        tr.sep {
          margin-top: 0.2em;
        }
        td {
          min-width:4em;
        }
        td.r2 {
          rowspan: 2;
        }
        td.full {
          color: #ddd;
          background-color: #282;
        }
        td.empty {
          color: #ddd;
          background-color: #333;
        }
        
        // Fix dl/ dd-dt
        dl.inline dd {
          display: inline;
          margin: 0;
        }
        dl.inline dd:after{
          display: block;
          content: '';
        }
        dl.inline dt{
          display: inline-block;
          min-width: 100px;
        }
        
        section {
          padding-top: 2em;
        }
        h1, h2, h3, h4, h5, h6 {
          padding-top: 0.4em;
        }
        .top {
          padding-top: 0.2em;
        }
        .container {
          display: flex;
          justify-content: center;
        }
        .container-col {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        .container > img {
          align-content: center;
        }
        .container-col > img {
          align-content: center;
        }

  body
    a href="/"
      header.col-xs-12.col-md-8.col-md-offset-2
        h2 IIC2333 Sistemas Operativos y Redes 2018-2

    /nav#myNavmenu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas role="navigation"
    /nav#myNavmenu.navmenu.navmenu-fixed-left.offcanvas role="navigation"
      /a.navmenu-brand href="#" Brand
      /ul.nav.navmenu-nav
        /li.active
          /a href="#" Home
        /li
          /a href="#" Link
        /li
          /a href="#" Link
    /.navbar.navbar-default.navbar-fixed-top
      /button.navbar-toggle type="button" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body"
        /span.icon-bar
        /span.icon-bar
        /span.icon-bar

    .col-xs-12.col-md-8.col-md-offset-2
      /section
        h1 = current_page.data.title 

      == yield

    footer
      .col-xs-12.col-md-8.col-md-offset-2
        p style='padding-top:4em;' IIC2333 Sistemas Operativos y Redes, Semestre 2018-1<br/>Departamento de Ciencia de la Computación<br/>Pontificia Universidad Católica de Chile<br/>

    / jQuery
    script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"
    / Bootstrap
    script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"


    javascript:
      opt = {
        "delimiters": [
          {left:   "$", right:   "$",  display: false},
          {left:  "$$", right:  "$$",  display: true},
          {left: "\\[", right: "\\]",  display: true},
          {left: "\\(", right: "\\)",  display: false}
        ]
      }
      renderMathInElement(document.body, opt);
      

    / https://xkcd.com/571/
      https://xkcd.com/292/
      http://xkcd.com/138/  Pointers
      http://xkcd.com/371/
      https://upload.wikimedia.org/wikipedia/en/f/f8/Internet_dog.jpg
      http://i.imgur.com/mmhM7.jpg
