---
title: Capa de Red
layout: slide
---

section
  h2 Modos de Conexión

  section
    div style="text-align:left;" <b>Objetivo</b>: Transmisión de paquetes desde <b>emisor</b> a <b>receptor</b>

    div style="text-align:left;" <b>Unidad de transmisión</b>: <i>paquete</i> o <i>datagrama</i>

    div style="text-align:left;" <b>Servicios</b>:
    ul
      li <b>Desafío:</b> conseguir que los datagrams lleguen desde el nodo origen al nodo destino
      li Determinar la ubicación del nodo destino en la red.
      li Determina un esquema de <i>direccionamiento</i>.
      li Utiliza una red de <i>enrutadores</i> (<i>routers</i>)
      li Utiliza algoritmos para determinar <i>rutas</i>. Algoritmos de enrutamiento (<i>routing</i>)

  section
    div style="text-align:left;" <b>Objetivo</b>: Transmisión de paquetes desde <b>emisor</b> a <b>receptor</b>
